<% if @project.enabled_modules.find_by(:name => 'issue_votes') %>
  <tr>
    <% if @already_voted.nil? %>
      <td><b>Votes: </b> <%= @issue.votes_total %>
        <% if User.current.allowed_to?(:vote_issue, @project) %>
          <%= link_to 'Vote', add_issue_vote_path(:issue_id => @issue.id), :class => 'icon icon-vote-issue' %>
        <% end %>
      </td>
    <% else %>
      <td><b>Votes: </b><%= @issue.votes_total %>
        <% if User.current.allowed_to?(:vote_issue, @project) %>
        <span class ='icon icon-already-voted'>Already voted(<%= link_to '', remove_issue_vote_path(:issue_id => @issue.id), :class => 'icon icon-remove-vote'%>)</span>
        <% end %>
      </td>
    <% end %>
  </tr>
<% end %>